<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mrp</title>
    <script src="./dist/mrp.js"></script>
    <script src="./public/js/nedb.min.js"></script>
    <script src="./public/js/localforage.min.js"></script>
    <!--<script src="./public/js/vue.js"></script>-->
    <script src="./public/js/db.js"></script>
    <script src="./public/js/utils.js"></script>
    <!--vue 3-->
    <script src="./public/js/vue3.min.js"></script>
    <!--element-plus-->
    <link rel="stylesheet" href="./public/css/element-plus.css">
    <script src="./public/js/element-plus.min.js"></script>
</head>

<body>
    <div id="app">
        <!--搜索-->
        <div style="display: flex">
            <el-link type="primary" href="./vmrp_v1.0/main.html">vmrp_v1.0</el-link>
            <el-input style="margin: 0 10px;" placeholder="搜索游戏" v-model="searchText" @keyup.enter="search()"></el-input>
            <el-button type="primary" @click="search()">搜索</el-button>
        </div>
        <!--高级功能-->
        <div style="display: flex; align-items: center">
            <el-checkbox style="margin-right: 10px" size="large" v-model="admin">显示高级功能</el-checkbox>
            <input style="display: none" type="file" ref="inputFileRef" @change="readFiles" multiple />
            <el-button type="primary" @click="importFile()" v-show="admin">导入文件</el-button>
            <el-button type="primary" @click="downloadData()" v-show="admin">下载数据</el-button>
        </div>
        <!--表格-->
        <div>
            <el-table :data="tableData" :height="tableHeight">
                <el-table-column width="40" type="expand">
                    <template #default="props">
                        <ul>
                            <li>Len: {{props.row.MrpTotalLen}}</li>
                            <li>Flag: {{props.row.Flag}}</li>
                            <li>Plat: {{props.row.Plat}}</li>
                            <li>FileName:
                                <span v-if="admin">
                                    <el-link type="primary"
                                             :href="`/viewMrp.html?f=/public/mrps/${props.row.file}`"
                                    >{{props.row.FileName}}</el-link>
                                </span>
                                <span v-else>
                                    <el-text>{{props.row.FileName}}</el-text>
                                </span>
                            </li>
                            <li>Desc: {{props.row.Desc}}</li>
                        </ul>
                    </template>
                </el-table-column>
                <el-table-column label="DisplayName">
                    <template #default="scope">
                        <el-tooltip :content="scope.row.Desc" placement="bottom">
                            <el-link type="primary"
                                     :href="`./vmrp_v1.0/main.html?f=../public/mrps/${scope.row.file}&title=${scope.row.DisplayName}`"
                            >{{scope.row.DisplayName}}</el-link>
                        </el-tooltip>
                    </template>
                </el-table-column>
                <el-table-column prop="Vendor" label="Vendor"></el-table-column>
                <el-table-column label="Size">
                    <template #default="scope">
                        <el-text>{{ showSize(scope.row.MrpTotalLen) }}</el-text>
                    </template>
                </el-table-column>
                <el-table-column prop="Appid" label="Appid"></el-table-column>
                <el-table-column prop="Version" label="Version"></el-table-column>
                <el-table-column prop="BuilderVersion" label="BuilderVersion"></el-table-column>
                <el-table-column label="Screen">
                    <template #default="scope">
                        <el-text>{{ scope.row.ScreenWidth }}x{{ scope.row.ScreenHeight }}</el-text>
                    </template>
                </el-table-column>
                <el-table-column prop="Crc32" label="Crc32"></el-table-column>
                <el-table-column label="Crc32OK">
                    <template #default="scope">
                    <span v-if="scope.row.Crc32OK">
                        <el-text type="success">{{scope.row.Crc32OK}}</el-text>
                    </span>
                        <span v-else>
                        <el-text type="danger">{{scope.row.Crc32OK}}</el-text>
                    </span>
                    </template>
                </el-table-column>
                <el-table-column label="operation" width="100" fixed="right">
                    <template #default="scope">
                        <div style="display: flex; justify-content: center">
                            <el-button link type="danger" @click="del(scope.row)" v-show="admin">删除</el-button>
                            <el-link type="primary" :href="`/public/mrps/${scope.row.file}`">下载</el-link>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <!--分页-->
        <div style="position: fixed; bottom: 15px">
            <el-pagination
                background
                :layout="paginationLayout"
                :total="total"
                :page-size="pageSize"
                :current-page="page"
                @current-change="changePage"
                @size-change="changePageSize"
            ></el-pagination>
        </div>
    </div>
    <script src="./public/js/index.js"></script>
</body>

</html>